<div *ngIf="dog">
  <h2>{{dog.picture} Details</h2>
  <div><img  class="images" src="./ReggiPics/Picture 1.jpg"/></div>
  <div><img  class="images" src="./ReggiPics/Picture 2.jpg"/></div>
  <div><img  class="images" src="./ReggiPics/Picture 3.jpg"/></div>
  <div><img  class="images" src="./ReggiPics/Picture 4.jpg"/></div>
  <div><img  class="images" src="./ReggiPics/Picture 5.jpg"/></div>
  <div><img  class="images" src="./ReggiPics/Picture 6.jpg"/></div>
  <div><img  class="images" src="./ReggiPics/Picture 7.jpg"/></div>
  <div>
  </div>
  <button type="button" (click)="goBack()">go back</button>
</div>
